<% form.fields_for :images, form.object.images do |images_fields| %>
  <%= images_fields.upload_map :map_image %>
<% end %>

<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <%= settings_fields.text_area :html_content, label: label %>
<% end %>

<%= content_tag(:div, "", id: "map", class: "map", data: { map: form.object.images.map_image.url }) %>


<button class="button" id="leaflet-save"> SAVE </button>

<%= javascript_include_tag "decidim/navigation_maps/admin/navigation_controller_settings_form_cell" %>
<%= stylesheet_link_tag "decidim/navigation_maps/admin/navigation_controller" %>

