<ul class="accordion" data-accordion>
  <li class="accordion-item<%= " is-active" unless form.image? %>" data-accordion-item>
    <a href="#" class="accordion-title"><%= t ".info" %></a>

    <div class="accordion-content" data-tab-content>
      <%= translated_field_tag :text_field_tag, "blueprints[#{form.ident}]", :title, form.title, { tabs_id: "blueprints_#{form.ident}_title", label: t(".title") } %>

      <%= label_tag t(".blueprint_image") %>
      <div class="thumbnail">
        <%= image_tag form.image.thumbnail.url if form.image? %>
      </div>
      <%= file_field_tag "blueprints[#{form.ident}][image]", { id: "blueprints_#{form.ident}_image", label: t(".title") } %>

      <%= hidden_field_tag "blueprints[#{form.ident}][id]", form.id, { id: "blueprints_#{form.ident}_id" } %>
      <%= hidden_field_tag "blueprints[#{form.ident}][blueprint]", form.blueprint.to_json, { id: "blueprints_#{form.ident}_blueprint" } %>

      <% if form.id %>
        <label class="delete-tab">
          <%= check_box_tag("blueprints[#{form.ident}][remove]", form.id) %>
          <%= t(".remove_blueprint") %>
        </label>
      <% end %>
  </div>
  </li>

  <% if form.image? %>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title"><%= t ".editor" %></a>
    <div class="accordion-content navigation_maps-content" data-tab-content>

      <%= content_tag(:div, "", id: "navigation_maps-map-#{form.ident}", class: "map", data: { id: form.ident, image: form.image.url, blueprint: form.blueprint }) %>

      <table id="navigation_maps-table-<%= form.ident %>">
        <thead>
          <tr>
            <th> <%= t(".id") %> </th>
            <th> <%= t(".link") %></th>
          </tr>
        </thead>
        <tbody id="navigation_maps-table-<%= form.ident %>-tbody">
        </tbody>
      </table>

    </div>
  </li>
  <% end %>
</ul>
