<ul class="tabs" data-tabs id="example-tabs">
  <% tabs.each_with_index do |item, index| %>
    <li class="tabs-title<%= " is-active" if index.zero? %>"><a data-tabs-target="panel<%= index %>" href="#panel<%= index %>"><%= translated_attribute(item.title).presence || "Tab #{index + 1}" %></a></li>
  <% end %>
  <li class="tabs-title"><a href="#panel-new">+ <%= t ".add" %></a></li>
</ul>
