<!-- Original settings -->
<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <%= settings_fields.translated :text_field, :title, label: t("content_blocks.navigation_map_settings_form.title", scope: "decidim.navigation_maps") %>
  <%= settings_fields.check_box :autohide_tabs, label: t("content_blocks.navigation_map_settings_form.autohide_tabs", scope: "decidim.navigation_maps") %>
<% end %>

<!-- Override rails default patch (using post via ajax) -->
<%= hidden_field_tag :_method, "post" %>
<%= hidden_field_tag :action, blueprints_path %>
<%= hidden_field_tag :content_block_id, content_block.id %>

<div class="navigation_maps admin">
  <div class="callout my-4" style="display:none" data-closable>
    <p></p>
  </div>

  <div class="content" id="tabs__navigation_maps">
    <%= render partial: "tabs", locals: { tabs: blueprints } %>
    <%= render partial: "tabs_content", locals: { tabs: blueprints } %>
  </div>
</div>

<%= render partial: "modal" %>
<%# we need to rely on a CDN due a bug in webpacker that renders twice jquery if importing a plugin %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js", integrity: "sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn", crossorigin: "anonymous" %>
<%= append_javascript_pack_tag "decidim_admin_navigation_maps" %>
<%= append_stylesheet_pack_tag "decidim_admin_navigation_maps" %>
