
<!-- Override rails default patch (always post as creating a new item) -->
<%= hidden_field_tag :_method, "post" %>
<%= hidden_field_tag :id, form.id %>
<%= hidden_field_tag :action, blueprints_path %>
<%= hidden_field_tag :blueprint, form.blueprint %>
<%= label_tag t(".blueprint_image") %>
<div class="button" data-toggle="image-upload"> <%= t(".upload_image") %> </div>
<div id="image-upload" class="hidden" data-toggler=".hidden">
<%= file_field_tag :image %>

<div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-meter">&nbsp;0%</div>
</div>
</div>

<% if form.image %>
  <%= content_tag(:div, "", id: "navigation_maps-map", class: "map", data: { image: form.image.url, blueprint: blueprint_data }) %>

  <table>
    <thead>
      <tr>
        <th> <%= t('.id') %> </th>
        <th> <%= t('.type') %> </th>
        <th> <%= t('.link') %></th>
      </tr>
    </thead>
    <tbody id="leaflet-body">
    </tbody>
  </table>
<% else %>
<%= t ".image_missing" %>
<% end %>

<%= javascript_include_tag "decidim/navigation_maps/admin/navigation_maps" %>
<%= stylesheet_link_tag "decidim/navigation_maps/admin/navigation_maps" %>
