<%= append_stylesheet_pack_tag "decidim_navigation_maps" %>
<%= render partial: "styles", locals: { blueprints: valid_blueprints } %>

<section class="home__section navigation_maps" id="navigation_maps-<%= model.id %>">
  <% if translated_title.present? %>
    <div class="home__section-header">
      <h2 class="home__section-title"><%= decidim_sanitize translated_title %></h2>
    </div>
  <% end %>

  <% if autohide_tabs? %>
    <div class="navigation_maps">
      <%= render partial: "tabs_content", locals: { tabs: valid_blueprints } %>
    </div>
  <% else %>
    <div class="vertical-tabs navigation_maps" id="tabs__navigation_maps">
      <%= tabs %>
      <%= render partial: "tabs_content", locals: { tabs: valid_blueprints } %>
    </div>
  <% end %>
</section>

<%= render partial: "template" %>
<%= append_javascript_pack_tag "decidim_leaflet" %>
<%= append_javascript_pack_tag "decidim_navigation_maps" %>
