<%= stylesheet_pack_tag "decidim_navigation_maps" %>
<%= render partial: "styles", locals: { blueprints: valid_blueprints } %>

<section<%= class_tag(section_classes) %>>
  <div<%= class_tag(wrapper_classes) %>>
    <div<%= class_tag(row_classes) %>>

      <% if translated_title.present? %>
        <h3 class="heading3"><%= decidim_sanitize translated_title %></h3>
      <% end %>

      <div class="navigation_maps">
        <%= tabs %>
        <%= render partial: "tabs_content", locals: { tabs: valid_blueprints } %>
      </div>
    </div>
  </div>
</section>

<%= render partial: "template" %>
<% unless %w[here].include?(Decidim.config.maps&.fetch(:provider)) %>
  <%= javascript_pack_tag "decidim_leaflet" %>
<% end %>
<%= javascript_pack_tag "decidim_navigation_maps" %>
