<div class="field">
  <%= form.translated :text_field, :title, autofocus: true %>
  <%= form.translated :text_area, :description %>
  <%= form.text_field :link %>

  <p class="help-text"><%= link_suggestions %></p>

  <%= form.color_field :color %>
</div>
