<h2 class="h2">#<%= @form.id %>: <%= t ".area" %></h2>
<%= decidim_form_for(@form, url: blueprint_area_path, remote: true, html: { class: "form form-defaults" }) do |f| %>
  <div class="form__wrapper">
    <%= render partial: "form", object: f %>
  </div>
  <div class="form__wrapper-block">
    <%= f.submit t(".save"), class: "button button__lg button__secondary" %>
    <button class="button button__lg button__transparent-secondary" type="button" data-dialog-close="map-edit-modal"><%= t(".cancel") %></button>
  </div>
<% end %>
